html {
  position: relative;
  min-height: 100%;
  max-width: 400px; /* 320px = iPhone 4 */
  margin: auto;
  font-family: 'Work Sans', sans-serif;
  background-color: #fff;
}

body {
  height: 100%;
  /* max-width: 400px; */
  background-color: #424343;
  padding: 0 0 60px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    background-color: #000;
    color: #fff;
    z-index: 20;
    width: 100%;
}

p, span {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

p {
  margin: 15px;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
}

h4 {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

h5 {
  margin-top:5px;
  font-size: 16px;
  font-weight:600;
  line-height: normal;
  opacity: 1;
}
.nav {
  padding: 10px 0;
  justify-content: space-around;
  text-align: center;
}

.logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  top: 40px;
  display: block;
  margin: auto;
  width: 135px;
  height: auto;
  z-index: 1;
}

.logo-container {

}

.fa,
.fas,
.far {
  font-size: 18px;
  padding-bottom: 8px;
  z-index: 50;
}

.row {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.column {
  display: flex;
  flex-direction: column;
}

.home-top {
  background-image: url("../images/background-profile-2.jpg");
  height: 280px;
  background-size: cover;
}

.callout {
  text-align: center;
  color: white;
  width: 75%;
  position: relative;
  margin: auto;
  bottom: 75px;
}

.wrap {
  padding: 5px 20px;
  text-align: center;
  color: white;
  width: 75%;
  position: relative;
  background-color: #730062;
  border-radius: 20px;
  margin: auto;
  bottom: 75px;
}


.card-tall {
  margin: 10px;
  background-color: #212121;
  color: #fff;
}

.img-frame {
  width: 130px;
  height: 100px;
  overflow: hidden;
}

.img-frame img {
  height: 100%;
}

.text-wrap {
  padding: 10px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-cards {
  position: relative;
  bottom: 30px;
}

.see-all {
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 15px;
}

main {
  position: relative;
  top: 0;
  color: white;
  margin: 10px 50px;
  font-size: 13px;
  opacity: 0.8;
}
main i{
  margin: 5px;
}

.view-opp-icon{
  font-size: 25px;
  width: 30px;
  height: 30px;
  padding: 10px;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  color: black;
}

.view-opp {
  display:flex;
  align-self: center;
  justify-content: center;
  position: relative;
  color: white;
  margin: auto;
  bottom: 95px;
}
.view-opp p {
  opacity: 0.6;
  font-size: 13px;
}
.flow {
  flex-direction: column;
  text-align: center;
}
