button {
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  color: white;
  background-color: #730062;
  padding: 10px;
  border: solid 1px #730062;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.on {
  margin-right: 5px;
}

.off {
  color: #730062;
  background-color: white;
  margin-left: 5px;
  margin-right: 0px;
}

#run-search {
  width: 50%;
}
