input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #730062;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.1em;
  padding-top: 0.1em;
  margin-right: 0.4em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox]:checked + label:before {
  background-color: #fff;
  border-color: #730062;
  color: #730062;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #bfb;
  border-color: #bfb;
}

/* ------  Buttons Styling ------- */

button {
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 500;
  line-height: normal;
  color: white;
  background-color: #730062;
  padding: 10px;
  border: solid 1px #730062;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.on {
  margin-right: 5px;
}

.off {
  color: #730062;
  background-color: white;
  margin-left: 5px;
  margin-right: 0px;
}

#run-search {
  width: 50%;
}


/* --- Account Form --- */

.account-form {
  /* margin: 10px; */
  box-sizing: border-box;

}
