html {
  position: relative;
  min-height: 100%;
  max-width: 400px; /* 320px = iPhone 4 */
  margin: auto;
  font-family: 'Work Sans', sans-serif;
  background-color: #fff;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

body {
  /* height: 100%; */
  /* padding: 0 0 60px; */
  border: solid 0.2px white;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* box-sizing: border-box; */
}

main {
  color: #351645;
  margin: 0px 30px;
  font-size: 13px;
  /* opacity: 0.8; */
  position: relative;
  top: -40px;
  background-color: white;
  padding-bottom: 80px;
}

main i {
  margin: 5px;
}

#search {
  margin: 0;
  opacity: 1;
  position: static;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 60px;
  background-color: #351645;
  color: #fff;
  z-index: 20;
  width: 100%;
}

.nav span {
  font-size: 11px;
}

hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    color: #8E69A0;
    border-width: 0.5px;
    opacity: 0.5;
}

/* .hr-purple {
  color: #351645;
} */

ul {
  list-style-type: disc;
  padding-left: 18px;
}

li {
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

.top-bar {
  height: 22px;
  background: #351645;
}

.nav {
  padding: 10px 0;
  justify-content: space-around;
  text-align: center;
}

.fa,
.fas,
.far {
  font-size: 18px;
  z-index: 50;
}

.nav .fa,
.nav .fas,
.nav .far {
  padding-bottom: 8px;
}

.nav-selected {
  color: #FFA3C0;
}

.row {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

/* .center {
  justify-content: space-around;
} */

.column {
  display: flex;
  flex-direction: column;
}

.wrap-all {
  padding: 20px;
}

.wrap-sides {
  padding: 0 20px;
}

.rc-icon {
  color: white;
  position: absolute;
  font-size: 25px;
  top: 40px;
  right: 30px;
}

.home-top {
  background-image: url("../images/home-background.jpg");
  height: 300px;
  background-size: cover;
}

.profile-top {
  background-color: #603E71;
  height: 240px;
  background-size: cover;
}

.search-top {
  background-color: #603E71;
  color: white;
  text-align: center;
  height: 150px;
  justify-content: space-around;
  padding: 10px 0;
}

.search-top h2 {
  margin: auto;
}

.tabs {
  background-color: #8E69A0;
  color: white;
  height: 45px;
  justify-content: space-around;
  align-items: center;
}

.tab {
  width: 100%;
  height: 100%;
}

.tab h3{
  text-align: center;
  position: relative;
  top: 12px;
}

.selected {
  border-bottom: solid 6px #EB7290;
}

.not-selected h3 {
  font-weight: 300;
}

.profile-pic {
  background-size: cover;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 34%;
  margin: auto;
  z-index: 1;
}

.vn {
  background-image: url('../images/profile-pic-1.jpg');
}

.db {
  background-image: url('../images/DonkeyBakery-logo-cutoff.jpg');
}

.logo {
  position: absolute;
  top: 50px;
  left: 34%;
  margin: auto;
  width: 135px;
  height: auto;
}

.profile-name {
  text-align: center;
  color: white;
  width: 75%;
  position: relative;
  margin: auto;
  bottom: 65px;
}

.callout {
  text-align: center;
  color: white;
  width: 75%;
  position: relative;
  background-color: #8E69A0;
  border-radius: 20px;
  margin: auto;
  bottom: 50px;
}

.buttons {
  width: 80%;
  margin: auto;
  justify-content: space-between;
  user-select: none;
}

.filter {
  background-color: white;
  padding: 10px;
  border: solid 1px white;
  margin: auto;
  width: 75%;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  color: #351645;
}

.search-form {
  display: none;
  width: 80%;
  background: rgba(255, 255, 255, 0.95);
  text-align: left;
  position: absolute;
  top: 22%;
  left: 10%;
  z-index: 10;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px;
  box-sizing: border-box;
  user-select: none;
  color: #351645;
}

.show {
  display: block;
}

.view-opp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  margin: auto;
  top: -60px;
  text-align: center;
}

.view-opp-icon {
  font-size: 20px;
  width: 45px;
  height: 45px;
  padding: 12px 9px 8px 11px;
  text-align: center;
  border-radius: 50%;
  background-color: #EB7290;
  color: white;
}

.view-opp p {
  font-size: 13px;
  margin: 7px 0 0 0;
  color: #EB7290;
}

.card {
  margin: 10px;
  background-color: white;
  color: #351645;
  border: solid 1px #EB7290;
  border-radius: 10px;
  box-shadow: 0px 4px 7px #88888878;
}

.img-frame {
  width: 130px;
  height: 100px;
  overflow: hidden;
}

.img-frame img {
  height: 100%;
}

.text-wrap {
  padding: 10px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-cards {
  position: relative;
  bottom: 30px;
}

.see-all {
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 15px;
}

/* ---- Login Account Setup Page ---- */

.login {
  background-image: linear-gradient(#351645, #EB7290);
}

.space-around {
  justify-content: space-around;
  height: 90vh;
}

.logo2 {
  margin: auto;
  width: 60%;
  height: auto;
}

.login-buttons {
  width: 70%;
  margin: auto;
}

.pink {
  background-color: #B54263;
  border-color: #B54263;
  color: white;
}

.login-bottom {
  text-align: center;
  color: white;
  margin: auto;
  width: 100%;
}

.login-bottom p {
  font-size: 14;
  font-weight: 300;
}

.login-bottom a {
  font-size: 14;
  font-weight: 400;
  color: white;
}

/* --- create-account --- */

.create-account {
  box-sizing: border-box;
  position: relative;
  top: 5%;
  margin: auto;
  padding: 15px;
  border: white solid 1px;
  width: 80%;
  background-color: white;
  color: #351645;
}

.create-account h2 {
  text-align: center;
  padding: 10px 0;
}

.create-account p {
  text-align: left;
  padding: 10px 0;
}

.create-account a {
  color: #603E71;
  text-align: center;
  font-weight: 500;
}

.tc p {
  text-align: center;
}
