html {
  position: relative;
  min-height: 100%;
  max-width: 400px; /* 320px = iPhone 4 */
  margin: auto;
  font-family: 'Work Sans', sans-serif;
  background-color: #fff;
}

body {
  height: 100%;
  /* max-width: 400px; */
  background-color: #424343;
  padding: 0 0 60px;
}

main {
  color: white;
  margin: 0px 30px;
  font-size: 13px;
  opacity: 0.8;
  position: relative;
  top: -40px;
}

main i {
  margin: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0px;
    height: 60px;
    background-color: #000;
    color: #fff;
    z-index: 20;
    width: 100%;
}

.nav span {
  font-size: 11px;
}

hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    color: white;
    border-width: 1px;
}

ul {
  list-style-type: disc;
  padding-left: 18px;
}

li {
  font-size: 13px;
  font-weight: 300;
  line-height: normal;
}

.nav {
  padding: 10px 0;
  justify-content: space-around;
  text-align: center;
}

.fa,
.fas,
.far {
  font-size: 18px;
  z-index: 50;
}

.nav .fa,
.nav .fas,
.nav .far {
  padding-bottom: 8px;
}

.row {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

/* .center {
  justify-content: space-around;
} */

.column {
  display: flex;
  flex-direction: column;
}

.wrap-all {
  padding: 20px;
}

.wrap-sides {
  padding: 0 20px;
}

.rc-icon {
  color: white;
  position: absolute;
  font-size: 25px;
  top: 30px;
  right: 30px;
}

.home-top {
  background-image: url("../images/home-background.jpg");
  height: 300px;
  background-size: cover;
}

.profile-top {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url(../images/background-profile-2.jpg);
  height: 280px;
  background-size: cover;
}

.search-top {
  background-color: white;
  color: #730062;
  text-align: center;
  height: 170px;
  justify-content: space-around;
  padding: 30px 0;
}

.search-top h2 {
  margin: auto;
}

.profile-pic {
  background-size: cover;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 34%;
  margin: auto;
  z-index: 1;
}

.vn {
  background-image: url('../images/profile-pic-1.jpg');
}

.db {
  background-image: url('../images/DonkeyBakery-logo-cutoff.jpg');
}

.logo {
  position: absolute;
  top: 50px;
  left: 34%;
  margin: auto;
  width: 135px;
  height: auto;
}

.profile-name {
  text-align: center;
  color: white;
  width: 75%;
  position: relative;
  margin: auto;
  bottom: 90px;
}

.callout {
  text-align: center;
  color: white;
  width: 75%;
  position: relative;
  background-color: #730062;
  border-radius: 20px;
  margin: auto;
  bottom: 50px;
}

.buttons {
  width: 80%;
  margin: auto;
  justify-content: space-between;
  user-select: none;
}

.filter {
  background-color: white;
  padding: 10px;
  border: solid 1px #730062;
  margin: auto;
  width: 75%;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.search-form {
  display: none;
  width: 80%;
  background: rgba(255, 255, 255, 0.95);
  text-align: left;
  position: absolute;
  top: 22%;
  left: 10%;
  z-index: 10;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px;
  box-sizing: border-box;
  user-select: none;
}

.show {
  display: block;
}

.view-opp {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  margin: auto;
  top: -60px;
  text-align: center;
}

.view-opp-icon {
  font-size: 20px;
  width: 25px;
  height: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  color: black;
}

.view-opp p {
  opacity: 0.6;
  font-size: 13px;
  margin: 7px 0 0 0;
}

.card {
  margin: 10px;
  background-color: #212121;
  color: #fff;
}

.img-frame {
  width: 130px;
  height: 100px;
  overflow: hidden;
}

.img-frame img {
  height: 100%;
}

.text-wrap {
  padding: 10px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-cards {
  position: relative;
  bottom: 30px;
}

.see-all {
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 15px;
}
