{% extends "layout.html" %}

{% block title %}
    Your Profile
{% endblock %}

{% block main %}

    <div class="banner profile-wrapper">

      <div class="title profile">
        <i class="fa fa-pencil-alt rc-icon mobile" id="edit-profile"></i>
        <h1>{{ fname }} {{ lname }}</h1>
        <button class="desktop bannerbtn" id="edit-profile-btn">EDIT DETAILS</button>
      </div>
      <div class="callout">
          <h2>"{{ onesent }}"</h2>
      </div>


    </div>

    <form class="popup-form profile-form" action="/profile" method="post">
      <h2>Edit Your Profile</h2></br>

      <!-- <label>Profile Image</label>
      <label for="custom-file-upload" class="filupp">
        <span class="filupp-file-name js-value"><i class="fas fa-upload"></i>Upload Profile Image</span>
        <input type="file" name="attachment-file" value="1" id="custom-file-upload"/>
      </label>

      <h4>donkey-profile.jpg</h4>
      </br> -->

      <label for="fname">First Name</label></br>
      <input class="text-input-style" type="text" name="fname" value="{{ fname }}">
      </br></br>

      <label for="lname">Last Name</label></br>
      <input class="text-input-style" type="text" name="lname" value="{{ lname }}">
      </br></br>

      <label for="businessname">Business Name</label></br>
      <input class="text-input-style" type="text" name="businessname" value="{{ businessname }}">
      </br></br>

      <label for="onesent">In one sentence what does your business do? (100 character limit)</label></br>
      <textarea class="text-input-style long-form" type="text" name="onesent" maxlength="100">{{ onesent }}</textarea>
      </br></br>

      <label for="bio">Brief Bio: Describe your business and the type of people you like to work with... (500 character limit)</label></br>
      <textarea class="text-input-style long-form" type="text" name="bio" maxlength="500">{{ bio }}</textarea>
      </br></br>

      <hr class="hr-purple">

      <h3>What your business offers</h3></br>

      <input type="radio" name="optype" value="Employment">
      <label for="optype">Employment</label>
      </br>

      <input type="radio" name="optype" value="Training">
      <label for="optype">Training</label>
      </br>

      <input type="radio" name="optype" value="Apprenticeship">
      <label for="optype">Apprenticeship</label>

      </br>
      </br>

      <h3>Business Sector</h3>
      </br>

      <label for="opsector">Select Sector</label>
      </br>
      <div class="rounded">
        <select name="opsector">
          <option value="1">Hospitality & Events</option>
          <option value="2">Hair & Beauty</option>
          <option value="3">Business & Marketing</option>
          <option value="4">Information Technology</option>
          <option value="5">Health</option>
          <option value="6">Arts & Design</option>
          <option value="7">Environment & Agriculture</option>
          <option value="8">Law & Society</option>
          <option value="9">Other</option>
        </select>
      </div>

      </br>

      <!-- <input type="checkbox" id="hospitality" name="Hospitality" value="Hospitality">
      <label for="hospitality">Hospitality</label>

      <input type="checkbox" id="business" name="Business" value="Business">
      <label for="business">Business</label>

      <input type="checkbox" id="textiles" name="Textiles" value="Textiles">
      <label for="textiles">Textiles</label> -->


      <!-- <label for="other-disability">Other</label></br>
      <input class="text-input-style" type="text" id="other-disability">
      </br></br> -->

      <hr class="hr-purple">
      <h3>Accessibility Support Capacity</h3>
      </br>
      <label for="disabilities">Describe the type of capacity and support your business or organisation can provide to employees and trainees:</label></br>
      <textarea class="text-input-style long-form" type="text" name="disabilities" maxlength="400">{{ disabilities }}</textarea>
      </br>
      </br>

      <!-- <input type="checkbox" id="blind" name="Blind" value="Blind">
      <label for="blind">Blind / Vision Impairment</label>

      <input type="checkbox" id="deaf" name="Deaf" value="Deaf">
      <label for="deaf">Deaf / Hearing Impairment</label>

      <input type="checkbox" id="mobility-issues" name="Mobility Issues" value="Mobility Issues">
      <label for="mobility-issues">Mobility Issues</label>
      </br>
      <label for="other-disability">Other</label></br>
      <input class="text-input-style" type="text" id="other-disability">
      </br></br> -->

      <hr class="hr-purple">
      <h3>Contact Information</h3></br>

      <label for="email">Email</label></br>
      <input class="text-input-style" type="text" name="email" value="{{ email }}">
      </br></br>

      <label for="mobile">Mobile (optional)</label></br>
      <input class="text-input-style" type="text" name="mobile" value="{{ mobile }}">
      </br></br>

      <label for="website">Website Address (optional)</label></br>
      <input class="text-input-style" type="text" name="website" value="{{ website }}">
      </br></br>


      <button class="btn-main" id="save-profile" type="submit">Save</button>
      <button class="btn-secondary" id="close-profile" type="button">Close</button>
      </br></br>
    </form>


    <div class="profile-info">
      <h2>Business Name: {{ businessname}}</h2>
      </br>
      </br>

      <div class="section">
        <h3>About the business</h3><br/>
        <p>{{ bio }}</p>
      </div>

      <hr>

      <div class="section">
        <h3>Capacity to employ/train people who are:</h3><br/>
        <p>{{ disabilities }}</p>
      </div>

      <hr>

      <div class="section">
        <h3>Contact</h3><br/>
        <div class="row">
          <i class="fas fa-phone"></i>
          <div class="wrap-sides">
            <p>{{ mobile }}</p>
            <p class="small">Mobile</p>
            </br>
          </div>
        </div>
        <div class="row">
          <i class="far fa-envelope"></i>
          <div class="wrap-sides">
            <p>{{ email }}</p>
            <p class="small">Email</p>
            </br>
          </div>
        </div>
        <div class="row">
          <i class="fas fa-comment-alt"></i>
          <div class="wrap-sides">
            <a href="{{ website }}" target="_blank"><p>{{ businessname }}'s Website</p></a>
            <p class="small">Website</p>
          </div>
        </div>
      </div>

      </br>
      </br>

      <a href="/logout"><button class="bannerbtn">LOGOUT</button></a>

    </div>


  {% endblock %}
