{% extends "layout.html" %}

{% block title %}
    Events
{% endblock %}

{% block main %}

    <div class="banner">

      <div class="title">
        <i class="fas fa-plus rc-icon mobile" id="new-event"></i>
        <h1>Networking, Training </br>and Inspiring Events</h1>
        <button class="desktop bannerbtn" id="new-event-btn">LIST EVENT</button>
      </div>

    </div>

    <!-- <div>
      <div class="filter row center" id="filter">
        <h3>Filter</h3>
        <i class="fas fa-angle-down"></i>
      </div>

      <form class="filter-form">
        <input type="checkbox" id="sector1" name="Hospitality" value="Hospitality">
        <label for="sector1">Hospitality</label>

        <input type="checkbox" id="sector2" name="Textiles" value="Textiles">
        <label for="sector2">Textiles</label>

        <input type="checkbox" id="sector3" name="Finance" value="Finance">
        <label for="sector3">Finance</label>

        <input type="checkbox" id="sector4" name="Software Development" value="Software Development">
        <label for="sector4">Software Development</label>

        <hr class="hr-purple">

        <input type="checkbox" id="time1" name="Full Time Work" value="Full Time Work">
        <label for="time1">Full Time Work</label>

        <input type="checkbox" id="time2" name="Part Time Work" value="Part Time Work">
        <label for="time2">Part Time Work</label>

        </br>
        <button class="btn-main" id="run-filter" type="button">Filter</button>
        <button class="btn-secondary" id="close-filter" type="button">Close</button>
      </form>
    </div> -->

    <form class="popup-form event-form" id="new-event" action="/events" method="post">

      <h2>Share an event with </br>the AbleWork Community</h2></br>
      <label for="eventname">Event Name</label></br>
      <input class="text-input-style" type="text" name="eventname">
      </br></br>

      <label for="link">Link</label></br>
      <input class="text-input-style" type="text" name="link">
      </br></br>

      <label for="date">Date</label></br>
      <input class="text-input-style" type="date" name="date">

      </br></br>

      <label for="time">Time</label></br>
      <input class="text-input-style" type="time" name="time">

      </br></br>

      <label for="price">Ticket Price</label></br>
      <input class="text-input-style" type="text" name="price"></br>

      </br>
      <button class="btn-main" id="submit-event" type="submit">Submit Event</button>
      <button class="btn-secondary" id="close-event" type="button">Close </button>
      </br></br>
    </form>

    <div class="cards-container">

      {% for event in events %}

      <div class="row card external">
        <div class="text-wrap">
          <h3>{{ event.eventname }}</h3>
          <div>
            <p>{{ event.date }}, {{ event.time }}</p>
            <h4>{{ event.price }}</h4>
          </div>
        </div>
        <a href="{{ event.link }}" target="_blank">
          <div class="external-frame">
            <h3>View Details </br> <i class="fas fa-arrow-right"></i> </h3>
          </div>
        </a>
      </div>

      {% endfor %}

    </div>

{% endblock %}
